<div class="container">
  <span class="title">Filtre sua listagem</span>

  <div class="filter-box">
    <form [formGroup]="form">
      <div class="field">
        <label>Projeto/Ação</label>
        <p-autoComplete formControlName="centroCusto" [suggestions]="projetosOpts" (completeMethod)="buscaCentroCusto($event)" styleClass="wid100"
        [minLength]="1" placeholder="Pesquisar" field="centroCusto" [multiple]="true">
    </p-autoComplete>
        <!-- <p-multiSelect class="input" [options]="projetosOpts" formControlName="projetoAcao" name="project"
          defaultLabel="Selecione" emptyFilterMessage="Nenhum resultado encontrado" (onChange)="onChange($event)"></p-multiSelect> -->
      </div>
      <div class="field">
        <label>Status</label>
        <p-multiSelect class="input" [options]="statusOpts" formControlName="status" name="status" [showHeader]="false"
          defaultLabel="Selecione" ></p-multiSelect>
      </div>
      <div class="field">
        <label>Tipo de despesa e lançamento</label>
        
        <p-multiSelect class="input" [options]="tiposOpts" formControlName="tipo" name="first" [showHeader]="false"
          defaultLabel="Selecione" ></p-multiSelect>
      </div>
      <div class="field" *ngIf="visible">
        <label>Responsável</label>
        <input class="input" type="text" placeholder="Pesquisar" formControlName="responsavel" />
        <i class="icon search"></i>
      </div>
      <div class="field" *ngIf="visible">
        <label>Solicitante</label>
        <input class="input" type="text" placeholder="Pesquisar" formControlName="solicitante"/>
        <i class="icon search"></i>
      </div>
      <div class="fields" *ngIf="visible">
        <div class="field small">
          <label>Ano</label>
          <p-dropdown [options]="anosRefs" placeholder="Selecione" formControlName="anoRef"  optionLabel="value" [showClear]="false"></p-dropdown>
          <!-- <p-inputMask class="input" type="text" placeholder="YYYY" mask="9999" formControlName="anoRef" (input)="onInputChange($event)"></p-inputMask> -->
        </div>
        <div class="field small" *ngIf="visible">
          <label>Mês</label>
          <!-- <p-inputMask class="input" type="text" placeholder="MM" mask="99" formControlName="mes" ></p-inputMask> -->
          <p-dropdown [options]="mesesRefs" placeholder="Selecione" formControlName="mesRef"  optionLabel="value" [showClear]="true"></p-dropdown>
        </div>
      </div>
      <div class="field" *ngIf="visible">
        <label>Fornecedor</label>
        <input class="input" type="text" placeholder="Pesquisar" formControlName="fornecedor" />
      </div>
      <div class="field" *ngIf="visible">
        <label>CNPJ/CPF</label>
        <!-- <p-inputMask class="input" type="text" placeholder="000.000/000-00" mask="999.999/999-99" formControlName="cnpj" ></p-inputMask> -->
        <input class="input" type="text" placeholder="Pesquisar" formControlName="cnpj" />
      </div>
      <div class="field" *ngIf="visible">
        <label>Observação</label>
        <input class="input" type="text" placeholder="Pesquisar" (input)="onInputChange($event)" formControlName="observacao" />
        <i class="icon search"></i>
      </div>
    </form>
    <div class="show-more">
      <a (click)="toggleFilter()" [ngClass]="{'visible': visible}">
        Filtro avançado
        <i class="icon arrow"></i>
      </a>
    </div>

  </div>

</div>