.container{
  position: relative;
  // height: 100px;
  width: 100%;
  // background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
}

.title{
  position: absolute;
  left: 15px;
  top: -8px;
  background-color: #fff;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #2f69f8;
}

.filter-box{
  display: flex;
  padding: 0 20px;
}

form{
  display: flex;
  padding: 25px 0px 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  flex: 1;
}

form .field{
  position: relative;
  display: flex;
  flex-direction: column;
  // margin-right: 20px;
  flex: 1;
}

form .field label{
  font-size: 13px;
  font-weight: 600;
  color: #333;
  max-height: 15px;
  overflow: hidden;
}

form .field .input{
  margin-top: 10px;
}

form .field .input[type=text]{
  height: 36px;
  // width: 250px;
  padding: 0 10px;
  // margin-top: 6px;
  font-weight: 600;
  font-size: 13px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  outline: none;
}

form .field .input[type=text]::placeholder{
  color: #aaa;
  font-weight: 500;
}

form .field.small input{
  width: 100% !important;
}

form .field .icon.search{
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(/assets/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  right: 3px;
  top: 29px;
  background-color: #fff;
}

form .fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.show-more{
  margin: 20px;
  margin-top: 60px;
  margin-right: 60px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.show-more a{
  font-size: 15px;
  font-weight: 500;
}

.icon.arrow{
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-image: url("/assets/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  top: 1px;
  margin-left: 2px;
  transition: all ease-in-out 0.2s;
}

.visible .icon.arrow{
  transform: rotate(180deg);
}