<section id="modal-column" class="mask" [ngClass]="{'visible': visible}">
  <div class="modal">
    <header class="header">
      <h1 class="title">Selecionar as colunas para visualização</h1>
      <button class="btn close" (click)="closeModal()">X</button>
    </header>
    <div class="body">
      <form>
        <div class="ui-g">
          <div class="ui-g-12" *ngFor="let item of options; let i = index"> 
            <p-checkbox name="group1" value="{{item.value}}" label="{{item.label}}" [(ngModel)]="selected" (onChange)="onChange(item)"></p-checkbox>
          </div>
        </div>
      </form>
    </div>
    <div class="buttons">
      <button class="btn" (click)="closeModal()">Cancelar</button>
      <button class="btn blue" (click)="saveColumns()">Salvar</button>
    </div>
  </div>
</section>