<header class="header">
  <div class="app align">
    <i class="logo"></i>
    <ul class="menu">
      <!-- <li class="item notification" (click)="showNotification()">
        <i class="icon"></i>
        <div class="notification dropdown" *ngIf="notificationVisible">
          <p class="item">
            Este lançamento de $13.000,00, passou de de PARCIAL para REALIZADO
          </p>
          <p class="item">
            Este lançamento de $45.000,00, passou de COMPROMETIDO para PARCIAL
          </p>
        </div>
      </li> -->
      <li class="item help" (click)="showHelp()">
        <i class="icon"></i>
        <div class="help dropdown" *ngIf="helpVisible">
          <a class="item" href="/assets/FAQ COMPROMETIDO.pdf" target="_blank" (click)="closeHelp()">FAQ</a>
          <a class="item" (click)="resetTour(); closeHelp()">Refazer Tour</a>
          <a class="item" href="https://csc.pr.sebrae.com.br" target="_blank" (click)="closeHelp()">Reportar Problema</a>
        </div>
      </li>
      <li class="item account" (click)="showAccount()">
        <i class="avatar"  [ngStyle]="{'background-image': 'url(' + session.avatar + ')'}"></i>
        <span class="name">{{ session.usuario?.nome }}</span>
        
        <div class="account dropdown" *ngIf="accountVisible">
          <a class="item" (click)="logout()">Deslogar</a>
        </div>
      </li>
    </ul>
  </div> 
</header>

<div class="load-box" >
  <div class="load-bar" *ngIf="loading">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
