.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 60px;
  background-color: #2f69f8;
  z-index: 10;
}

.app.align {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.logo {
  height: 40px;
  width: 350px;
  background-image: url(/assets/images/logo.svg);
}

.menu {
  display: flex;
  height: 100%;
  min-width: 165px;
}

.menu .item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  cursor: pointer;
}


.menu .item:last-child {
  border-right: none;
}

.menu .item .icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu .item.notification .icon {
  background-image: url("/assets/images/notification.svg");
}

.menu .item.help .icon {
  background-image: url("/assets/images/help.svg");
}

.menu .item.account .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #2f69f8;
  // background-image: url(/assets/images/avatar.png);
  background-size: cover;
}

.menu .item.account .name {
  color: #fff;
  font-size: 13px;
  margin-left: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

.load-box {
  position: fixed;
  top: 40px;
  width: 100%;
  background-color: #eee;
  height: 3px;
  margin-top: 20px;
  z-index: 9;
  // opacity: 1;
  // transition: ease-in-out 0.2s all;
}

.load-bar {
  position: relative;
  
  width: 100%;
  height: 3px;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
  border-radius: 50px;
}

.bar:nth-child(1) {
  // background-color: #1194f7;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  // background-color: #8bc34a;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #ffc107;
  animation: loading 2s linear 0s infinite;
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

.notification.dropdown{
  position: absolute;
  width: 246px;
  top: 60px;
  
  background: #FFFFFF;
  border: 1px solid #CED4E2;
  box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.275);
  border-radius: 4px;

  padding: 10px 0px 5px 0px;
}

.notification.dropdown:after{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #fff;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
  border-radius: 5px;
  top: -5px;
}

.notification.dropdown .item{
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;

  color: #292F3E;
  border-bottom: 1px dotted #eee;

  padding: 15px 20px;
  word-break: break-all;
}

.notification.dropdown .item:last-child{
  border: none !important;
}


.help.dropdown{
  position: absolute;
  width: 179px;
  top: 60px;
  background: #FFFFFF;
  border: 1px solid #CED4E2;
  box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.275);
  border-radius: 4px;
  padding: 20px 0 10px 0;
}

.help.dropdown:after{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #fff;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
  border-radius: 5px;
  top: -5px;
}

.help.dropdown .item{
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;

  color: #292F3E;
  text-decoration: underline;
  display: block;
  text-align: left;
  height: 35px;
  font-size: 13px;
  padding: 0 25px;
}

.account.dropdown{
  position: absolute;
  width: 179px;
  top: 60px;
  background: #FFFFFF;
  border: 1px solid #CED4E2;
  box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.275);
  border-radius: 4px;
  padding: 20px 0 10px 0;
}

.account.dropdown:after{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #fff;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
  border-radius: 5px;
  top: -5px;
}

.account.dropdown .item{
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;

  color: #292F3E;
  text-decoration: underline;
  display: block;
  text-align: left;
  height: 35px;
  font-size: 13px;
  padding: 0 25px;
}