<svg viewBox="0 0 36 36" class="circular-chart green">
    <path class="circle-bg" d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831" />
    <path class="circle" [attr.stroke-dasharray]="dashArray" *ngIf="pRealizado > 0" d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831" />
    <text x="18" y="19.35" class="percentage">{{pRealizado}}%</text>
    <text x="18" y="23" class="text">realizado</text>
</svg>