
.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
    padding: 6px;
    height: 160px;
    width: 200px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #ff5146;
    // stroke: #ff5146;
    stroke-width: 4;
  }
  
  .circle {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.green .circle {
    stroke: #4dae00;
  }
  
  .circular-chart .percentage {
    fill: #333;
    // font-family: sans-serif;
    font-size: 0.43em;
    text-anchor: middle;
    font-weight: 600;
  }
  
  .circular-chart .text {
    fill: #333;
    // font-family: sans-serif;
    font-size: 0.16em;
    text-anchor: middle;
    text-transform: uppercase;
    font-weight: 600;
  }
  