#modal-graph{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);


  align-items: center;
  justify-content: center;
  z-index: 99; 
  display: none;
}

#modal-graph.visible{
  display: flex;
}

.modal{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  max-height: 600px;
  width: 1100px;
  min-height: 600px;
  visibility: hidden;
  display: none;
  position: relative;
}

.visible.modal{
  visibility: visible;
  display: flex;
}

.modal .header {
  position: relative;
  display: flex;
  height: 110px;
  padding: 50px 50px 0 50px;
  background-color: #eee;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal .header .title {
  font-size: 21px;
  font-weight: 700;
  color: #444;
  margin-top: 5px;
}

.modal .header .btn.close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: #222;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.modal .body {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px 80px;
  overflow: auto;
  flex: 1;
  display: grid;
  grid-template-columns: 200px 1fr;
  overflow: auto;
}

.btn.previous{
  left: 0;
}

.btn.next{
  right: 0;
}

.btn.previous,
.btn.next{
  position: absolute;
  top: 110px;
  bottom: 0;
  width: 50px;
  background-color: #FBFBFB;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .body .column{
  display: flex;
  flex-direction: column;
  // background-color: #eee;
}

.modal .body .column .box{
  display: flex;
  justify-content: center;
  // flex: 1;
}

.modal .body .column .box.resume{
  align-items: flex-end;
  display: block !important;
  flex: initial !important;
  margin-top: 50px;
}


.modal .body .column.stats{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal .body .column.stats .box{
  // margin-top: 10px;
}

.box-item{
  flex: 1;
  height: 100%;
  margin-left: 10px;
  padding: 30px;
}

.box.resume-stats{
  flex-direction: column;
  justify-content: flex-start !important;
}

.resume-item{
  width: 130px;
  margin-top: 20px;
  margin-left: 40px;
}

.resume-item .icon{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: -16px;
  margin-top: 3px;
}

.resume-item .icon.green{
  background-color: #4DAE00;
}

.resume-item .icon.red{
  background-color: #FF5146;
}

.resume-item .title{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #292F3E;
  text-transform: uppercase;
}

.resume-item .value{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  
  color: #292F3E;
}

.box-item.congrats{
  .title{
    font-size: 24px;
    color: #292F3E;
    font-weight: 800;
  }

  .subtitle{
    font-size: 15px;
  }

  .realized{
    display: flex;
    margin-top: 10px;

    .box-number{
      display: flex;
      flex-direction: column;
      width: 150px;
      margin-right: 20px;

      .number{
        font-size: 36px;
        color: #2F69F8;
        font-weight: 800;
      }
    }

    .icon{
      height: 85px;
      width: 100px;
      background-image: url(/assets/images/ranking.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.box-item.balance-project{
  .title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #292F3E;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .row{
    margin-bottom: 10px;

    .cc{
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;

      color: #292F3E;
    }

    .value{
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      font-weight: 800;
      color: #2F69F8;
      margin-left: 20px;
    }
  }

}


.box-item.balance-project{
  .title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #292F3E;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .row{
    margin-bottom: 10px;

    .cc{
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;

      color: #292F3E;
    }

    .value{
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      font-weight: 800;
      color: #2F69F8;
      margin-left: 20px;
    }
  }

}

.box-item.balance-total{
  .title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #292F3E;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .value{
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2F69F8;
  }
}

.box-item.balance-cc{
  .title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #292F3E;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 8px;
  }

  #chart{
    margin-top: 20px;
  }
}

#bar-chart{
  // width: 100%;
  max-height: 100%;
  padding-top: 20px;
}

.modal.graph-bar .body{
  display: flex !important;
  align-items: center;
}