<section id="modal-graph" class="mask">
  <div class="modal" [ngClass]="{'visible': state == 'resume' }">
    <header class="header">
      <h1 class="title">Comprometidos em 2020</h1>
      <button class="btn close" (click)="closeModal()">X</button>
    </header>
    <div class="body">
      <div class="column resume">
        <div class="box resume">
          <app-resume-graph></app-resume-graph>
        </div>
        <div class="box resume-stats">
          <div class="resume-item">
            <i class="icon green"></i>
            <h3 class="title">Realizado</h3>
            <span class="value">{{ totalRealizado | currency:"BRL" }}</span>
          </div>
          <div class="resume-item">
            <i class="icon red"></i>
            <h3 class="title">Comprometido</h3>
            <span class="value">{{ totalComprometido | currency:"BRL" }}</span>
          </div>
        </div>
      </div>
      <div class="column stats">
        <div class="box">
          <div class="box-item congrats">
            <h3 class="title">{{ message?.title }}</h3>
            <span class="subtitle">{{ message?.content }}</span>
            <div class="realized">
              <div class="box-number">
                <span class="number">R${{totalRealizadoK}}</span>
                <span class="text">Você realizou {{pRealizado}}% do previsto</span>
              </div>
              <i class="icon" *ngIf="message?.showIcon"></i>
            </div>
          </div>
          <div class="box-item balance-cc">
            <h3 class="title">SALDO DOS CENTROS DE CUSTOS</h3>
            <canvas id="chart" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
        <div class="box">
          <div class="box-item balance-project">
            <h3 class="title">Saldo Total por projeto</h3>
            <div class="rows">
              <div *ngFor="let item of saldoPorProjeto; let i = index">
                <div class="row" *ngIf="item.saldo > 0">
                  <span class="cc">{{ item.centroCusto }}</span>
                  <span class="value"
                    [ngStyle]="{'color': item.color}">{{ item.saldo | currency:"BRL" }} </span>
                </div>
              </div>
            </div>
          </div>
          <div class="box-item balance-total">
            <h3 class="title">Saldo Total</h3>
            <span class="value">{{ totalSaldo | currency:"BRL" }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="btn previous" (click)="showChart()">
      <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.56073 19.9604C0.716043 19.17 0.716044 17.83 1.56073 17.0396L18.3835 1.29844C19.6613 0.102791 21.75 1.00886 21.75 2.75883L21.75 34.2412C21.75 35.9912 19.6613 36.8972 18.3835 35.7016L1.56073 19.9604Z" fill="#292F3E"/>
        </svg>
        
    </div>
    <div class="btn next" (click)="showChart()">
      <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.4393 17.0396C21.284 17.83 21.284 19.17 20.4393 19.9604L3.61649 35.7016C2.33868 36.8972 0.25 35.9911 0.25 34.2412L0.25 2.75882C0.25 1.00885 2.33868 0.102791 3.61649 1.29844L20.4393 17.0396Z"
          fill="#292F3E" />
      </svg>
    </div>
  </div>
  <div class="modal graph-bar" [ngClass]="{'visible': state == 'chart' }">
    <header class="header">
      <h1 class="title">Comprometidos em 2020</h1>
      <button class="btn close" (click)="closeModal()">X</button>
    </header>
    <div class="body">
      <canvas id="bar-chart"></canvas>
    </div>
    <div class="btn previous" (click)="showResume()">
      <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.56073 19.9604C0.716043 19.17 0.716044 17.83 1.56073 17.0396L18.3835 1.29844C19.6613 0.102791 21.75 1.00886 21.75 2.75883L21.75 34.2412C21.75 35.9912 19.6613 36.8972 18.3835 35.7016L1.56073 19.9604Z" fill="#292F3E"/>
        </svg>
        
    </div>
    <div class="btn next" (click)="showResume()">
      <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.4393 17.0396C21.284 17.83 21.284 19.17 20.4393 19.9604L3.61649 35.7016C2.33868 36.8972 0.25 35.9911 0.25 34.2412L0.25 2.75882C0.25 1.00885 2.33868 0.102791 3.61649 1.29844L20.4393 17.0396Z"
          fill="#292F3E" />
      </svg>
    </div>
  </div>
</section>