<section id="modal-remove" class="mask">
  <div class="modal">
    <header class="header">
      <h1 class="title">Deseja mesmo deletar esta entrada?</h1>
      <button class="btn close" (click)="closeModal()">X</button>
    </header>
    <div class="buttons">
      <button class="btn" (click)="closeModal()">Cancelar</button>
      <button class="btn red" (click)="delete()">Deletar</button>
    </div>
  </div>
</section>