.app-screen{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: #fff;
  z-index: 2;
  opacity: 0;
  // transition: all 5s ease-in;
}

.app-screen.visible{
  opacity: 1;
}
