<div class="container">
  <div class="app align">
    <span class="banner">
      Explore/Analise os valores que já foram comprometidos nos centros de custos e tenha um melhor controle orçamentário
    </span>
  </div>
</div>