.container{
  display: flex;
  margin-top: 20px;
  padding-top: 15px;
}

.left-container{
  flex: 1;
  min-width: 0;
  // min-width: 680px;
  // height: 2000px;
}

.right-container{
  width: 215px;
  // background-color: #eee;
  margin-left: 20px;
}