<!-- Toast -->
<p-toast></p-toast>

<!-- Header -->
<app-header></app-header>

<!-- Banner: Confira aqui todos os lançamentos -->
<app-banner></app-banner>

<!-- Tabs -->
<app-tabs></app-tabs> 

<!-- Container de filtros, tabelas e resumo -->
<div class="container">
  <div class="app align">
    <div class="left-container">
      <app-filter></app-filter>
      <app-table></app-table>
    </div>
    <div class="right-container">
      <app-actions></app-actions>
      <app-resume></app-resume>
    </div>
  </div>
</div>

<!-- Modal de criação do lançamento -->
<app-create-modal></app-create-modal>

<!-- Modal de edição do lançamento -->
<app-edit-modal></app-edit-modal>

<!-- Modal de remoção do lançamento -->
<app-remove-modal></app-remove-modal>

<!-- Modal de selecionar coluna -->
<app-columns-modal></app-columns-modal>

<!-- Modal de gráficos-->
<app-graphs-modal></app-graphs-modal>


<!-- Modal de selecionar coluna -->
<!-- <app-columns-modal></app-columns-modal> -->