.section{
  position: relative;
}

.btn.lancamento{
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 25px;
  border: none;
  background-color: #2f69f8;
  font-weight: 600;
  color: #fff;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.1s all;
  margin-bottom: 10px;
}

.btn.lancamento:active{
  opacity: 0.8;
}

.btn.lancamento .icon{
  height: 25px;
  width: 25px;
  background-image: url(/assets/images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn.lancamento .text{
  margin-left: 12px;
}

.btn.coluna{
  display: flex;
  align-items: center;
  height: 42px;
  width: 100%;
  padding: 0 25px;
  border: none;
  background-color: #fff;
  border: 2px solid #ddd;
  font-weight: 600;
  color: #222;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.1s all;
  margin-bottom: 10px;
}

.btn.coluna:active{
  opacity: 0.8;
}

.btn.coluna .icon{
  height: 25px;
  width: 25px;
  background-image: url(/assets/images/setting.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn.coluna .text{
  margin-left: 12px;
}

.btn.tour{
  margin-left: -17px;
  margin-top: 48px;
}

.tour-content{
  margin-top: -60px;
  margin-left: -316px;
}