<div class="section">
  <button class="btn tour" (click)="openItemTour()" *ngIf="!store.value.storage.tour.column">
    <div class="tour-content" *ngIf="tourVisible">
      <p>
        Nossa primeira novidade é que além de novas informações disponíveis na tabela você também pode personalizar a visualização dela, adicionando ou removendo as mesmas.
      </p>
      <button (click)="closeTour()">Ok, entendi</button>
    </div>
  </button>
  <button class="btn lancamento" (click)="openModalCreate()">
    <i class="icon"></i>
    <span class="text">Novo lançamento</span>
  </button>
  <button class="btn coluna" (click)="openModalColumn()">
    <i class="icon"></i>
    <span class="text">Selecionar Colunas</span>
  </button>
</div>