<!-- <div class="app align">
  <ul class="tabs">
    <li class="">Todos</li>
    <li class="active">Favoritos</li>
  </ul>
</div> -->

<div class="app align">
  <div class="container">
    <ul class="tabs">
      <li class="active" (click)="activeTab('todos')" [ngClass]="{active: current == 'todos'}">Todos</li>
      <li class="" (click)="activeTab('favoritos')" [ngClass]="{active: current == 'favoritos'}">Favoritos</li>
    </ul>
  
    <!-- <button class="btn">Salvar visualização</button> -->
  </div>  
</div>