.app.align{
  align-items: center;
}

.container{
  display: flex;
  margin-top: 20px;
  // align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f7f7f7;
  flex: 1;
  align-items: flex-end;
  height: 50px;
}

.tabs{
  display: flex;
  flex: 1;
}

.tabs li{
  font-weight: 600;
  height: 35px;
  cursor: pointer;
  margin-bottom: -3px;
  padding: 0 22px;
  font-size: 17px;
}

.tabs li.active{
  color: #3c72f9;
  border-bottom: 4px solid #3c72f9;
  font-weight: 700;
}

.btn{
  height: 40px;
  padding: 0 25px;
  border: none;
  background-color: #eee;
  font-weight: 600;
  color: #000;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.1s all;
  margin-bottom: 10px;
}

.btn:active{
  opacity: 0.8;
}