
.splash-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 99;
  // background-color: #2e66b7;
  // height: 100%;
}
.splash-screen .splash-container {
  padding-top: 250px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.splash-screen .logo {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
  height: 60px;
  background: url(/assets/images/logo2x.png) top left no-repeat;
  background-size: 125px 60px;
}
.splash-screen .load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}
.splash-screen .bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
  border-radius: 50px;
}

.splash-screen .bar:nth-child(1) {
  background-color: #1194f7;
  animation: loading 3s linear infinite;
}
.splash-screen .bar:nth-child(2) {
  background-color: #8bc34a;
  animation: loading 3s linear 1s infinite;
}
.splash-screen .bar:nth-child(3) {
  background-color: #ffc107;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}
