<div class="splash-screen" style="background-color: #ffffff;">
  <div class="splash-container">
    <div class="logo"></div>
    <div class="load-bar">
      <div class="bar" style="background-color: #7aa6f5;"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>