/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  box-sizing: border-box;
  outline: none;
}


// html, body, .loading{
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   background-color: #000;
// }

body {
  min-width: 800px;
  // position: absolute;
  // width: 100%;
  // top: 0;
  padding-top: 60px;
  position: absolute;
  width: 100%;
  display: flex;
}
body,
body app-root,
body app-home{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app.align {
  padding: 0px 35px;
  width: 100%;
  display: flex;
}

body .ui-multiselect,
body .ui-dropdown {
  border: 1px solid #ccc !important;
}

.ui-multiselect-trigger-icon,
.ui-dropdown-trigger-icon {
  font-size: 1em !important;
  right: 20px;
}

.ui-multiselect-label,
*:not(.ui-paginator) > p-dropdown .ui-dropdown-label {
  padding: 0.629em !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 20px;
}

.ui-multiselect,
*:not(.ui-paginator) > p-dropdown .ui-dropdown {
  width: 100% !important;
  min-height: 36px;
  min-width: 0 !important;
}

a {
  text-decoration: underline !important;
}

body .ui-paginator {
  background-color: #fff !important;
  border: none !important;
  /* border: 1px solid #c8c8c8; */
  padding: 0;
}
// .ui-radiobutton-label{
//   margin-left: 10px !important;
//   margin-top: 5px !important;
// }

// .ui-chkbox-box{
//   // border-radius: 50%;
//   height: 15px !important;
//   width: 15px !important;
// }

.ui-chkbox-label {
  font-size: 12px;
  margin-left: 10px !important;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error),
p-inputmask input[type="text"] {
  height: 36px;
  // width: 250px;
  padding: 0 10px;
  // margin-top: 6px;
  font-weight: 600;
  font-size: 13px;
  color: #333;
  border: 1px solid #ccc !important;
  border-radius: 3px;
  width: 100%;
  outline: none;
  box-shadow: none !important;
}

p-dropdown,
p-autocomplete {
  margin-top: 10px;
}

p-autocomplete[ng-reflect-multiple="true"] {
  // max-height: 50px;
}

p-autocomplete[ng-reflect-multiple="true"] .ui-autocomplete {
  width: 100%;
}

p-autocomplete:not([ng-reflect-multiple="true"]),
.ui-autocomplete:not(.ui-autocomplete-multiple),
.ui-autocomplete:not(.ui-autocomplete-multiple) input {
  width: 100% !important;
  min-height: 36px;
}

.ui-autocomplete-multiple{
  width: 100% !important;
}

.ui-autocomplete-multiple-container {
  padding: 3px !important;
  // display: flex !important;
  align-items: center !important;

  overflow: auto !important;
  max-height: 300px;
  height: auto !important;

  min-height: 39px !important;
  border: 1px solid #ccc !important;
  width: 100% !important;

  display: flex;
  flex-direction: column;
}

.ui-autocomplete-multiple-container.ui-state-focus{
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}

.ui-autocomplete-multiple-container input {
  // margin: 1px 0 0 5px !important;
  font-weight: 600;
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  width: 100px !important;
}

.ui-autocomplete-multiple-container input::placeholder {
  color: #aaa;
}

.ui-autocomplete:not(.ui-autocomplete-multiple) input {
  border: 1px solid #ccc !important;
  padding-left: 10px !important;
}

.ui-autocomplete-multiple .ui-autocomplete-token {
  margin-bottom: 3px !important;
  margin-right: 3px !important;
  margin-top: 2px !important;
  margin-left: 2px !important;
  padding: 5px 12px !important;
  background-color: #ECECEC !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #292F3E !important;
}

.ui-autocomplete-token-icon::before{
  opacity: 0.3 !important;
  color: #292F3E !important;
  border-radius: 50% !important;
}

p-dropdown .ui-dropdown-label {
  height: 30px;
}

p-inputmask {
  padding: 0 !important;
  border: none !important;
}

p-inputmask input[type="text"] {
  height: 100% !important;
}

p-inputmask input[type="text"]::placeholder {
  color: #aaa;
  font-weight: 600;
}

.ui-paginator {
  padding: 20px !important;
}

p-paginator.top .ui-paginator {
  padding-bottom: 0 !important;
}

.ui-autocomplete-input-token {
  margin: 0 !important;
  padding-top: 6px !important;
  height: 31px !important;
}

.ui-paginator-page,
.ui-paginator-next,
.ui-paginator-last,
.ui-paginator-first,
.ui-paginator-prev {
  border-radius: 50% !important;
  text-decoration: none !important;
  margin: 0 5px !important;
}
// .app-ph-loading{
//   background-color: #6a95ff;
// }

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  // border-radius: 10px;
  background-color: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  // border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}


.modal .ui-dropdown {
  max-width: 200px !important;
}

body .ui-multiselect .ui-multiselect-trigger{
  // background: none !important;
}

p-inputmask{
  height: 36px;
}

p-autocomplete input{
  font-weight: 600 !important;
  font-size: 13px !important;
  
}

p-autocomplete input{
  padding-left: 5px !important;
  margin: 0 !important;
}

.ui-autocomplete-loader{
  color: #d2d2d2 !important;
}

input{
  font-weight: 600 !important;
}

input::placeholder{
  color: #ccc !important;
  font-weight: 500 !important;
}

.ui-multiselect-item,
.ui-dropdown-item,
.ui-dropdown-label,
.ui-multiselect-label{
  text-transform: capitalize !important;
}

.btn.tour{
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: #4DAE00;
  border-radius: 50%;
  // margin-left: -17px;
  // margin-top: 39px;
  border: none;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.1);
  background-image: url(/assets/images/tour.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1;
}

.tour-content{
  position: relative;
  padding: 20px;
  padding-bottom: 43px;
  margin-right: 100%;
  width: 400px;
  color: #fff;
  font-weight: 500;
  text-align: left;
  width: 305px;
  line-height: 19px;
  background: #2BA820;
  box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.275);
  border-radius: 4px;
  z-index: 9;
}

.tour-content:after{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #2ba820;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
  right: -3px;
}

.tour-content.left:after{
  right: initial;
  left: -3px;
}

.tour-content button{
  float: right;
  background: none;
  border: none;
  color: #fff;
  margin-top: 9px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  text-decoration: dashed;
  padding-bottom: 2px;
  font-weight: 600;
  cursor: pointer;
}

.ui-dropdown-clear-icon{
  margin-top: -4px !important;
}

.submited .field.is-invalid input,
.submited .field.is-invalid .ui-dropdown{
  border: 1px solid #ff181891 !important;
}