.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  display: none;
}

.mask.visible {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  max-width: 650px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  max-height: 90%;
}

.modal .header {
  position: relative;
  display: flex;
  height: 110px;
  padding: 50px 50px 0 50px;
  background-color: #eee;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal .header .title {
  font-size: 21px;
  font-weight: 700;
  color: #444;
  margin-top: 5px;
}

.modal .header .btn.close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: #222;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.modal .body {
  padding: 0px 30px;
  overflow: auto;
  flex: 1;
}

form {
  display: grid;
  flex: 1;
  flex-direction: column;
  padding: 25px 20px 0px 20px;
  align-items: flex-start;
}

form .fields {
  display: flex;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 20px;
}

form .field {
  position: relative;
  display: flex;
  flex-direction: column;
  // margin-right: 20px;
  flex: 1;
  margin-bottom: 20px;
  margin-right: 20px;
}

form .field.small {
  width: 110px;
}

form .field.big {
  width: 285px;
}

form .field .radios {
  display: flex;
  margin-top: 18px;
}

p-radioButton {
  margin-right: 14px;
}

form .field label {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  max-height: 15px;
  overflow: hidden;
  width: 200px;
}

form .field .input {
  margin-top: 10px;
}

form .field .input[type="text"] {
  height: 36px;
  // width: 250px;
  padding: 0 10px;
  // margin-top: 6px;
  font-weight: 600;
  font-size: 13px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form .field .input[type="text"]::placeholder {
  color: #aaa;
  font-weight: 500;
}

form .field.small input {
  width: 100% !important;
}

form .field .icon.search {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(/assets/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  right: 3px;
  top: 29px;
  background-color: #fff;
}

p-radioButton {
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
  margin-top: 10px;
}

.buttons .btn {
  height: 40px;
  padding: 0 30px;
  border: none;
  background: none;
  background-color: #fff;
  font-size: 12px;
  color: #aaa;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.buttons .btn.blue {
  background-color: #2f69f8;
  color: #fff;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 99px !important;
  resize: none;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  color: #333 !important;
}