<section id="modal-create" class="mask">
  <div class="modal">
    <header class="header">
      <h1 class="title">Novo Lançamento</h1>
      <button class="btn close" (click)="closeModal()">X</button>
    </header>
    <div class="body">
      <form [formGroup]="form" [ngClass]="{'submited': submited}">
        <div class="fields">
          <div class="field" [ngClass]="{'is-invalid': !form.controls.centroCusto.valid}">
            <label>Centro de custo *</label>
            <p-autoComplete formControlName="centroCusto" [suggestions]="result" (completeMethod)="search($event)" field="centroCusto" placeholder="Pesquisar"></p-autoComplete>
            <!-- <p-autoComplete formControlName="centroCusto" [suggestions]="result" (completeMethod)="search($event)" [forceSelection]="true"></p-autoComplete> -->
            <!-- <input formControlName="centroCusto" class="input" type="text" placeholder="" (ngModelChange)="onCentroCustoChange()"/> -->
            <!-- <p-dropdown formControlName="centroCusto" [options]="optsCentroCusto" filter="true" (onChange)="onCentroCustoChange()" placeholder="Select a Brand"></p-dropdown> -->
          </div>
          <div class="field" [ngClass]="{'is-invalid': !form.controls.tipoSistema.valid}">
            <label>Tipo de despesa</label>
            <p-dropdown [options]="tipos" placeholder="Selecione" formControlName="tipoSistema" optionLabel="dscTipo"
              [showClear]="false"></p-dropdown>
        </div>
        </div>
          
        <div class="fields">
          <div class="field" [ngClass]="{'is-invalid': !form.controls.tipoDoc.valid}">
            <label>Tipo de documento *</label>
            <div class="radios">
              <p-radioButton formControlName="tipoDoc" name="tipoDoc" value="1" label="CNPJ" inputId="opt1"></p-radioButton>
              <p-radioButton formControlName="tipoDoc" name="tipoDoc" value="2" label="CPF" inputId="opt2"></p-radioButton>
            </div>
          </div>
          <div class="field" [ngClass]="{'is-invalid': !form.controls.doc.valid}">
            <label>Número *</label>
            <p-inputMask formControlName="doc" class="input" mask="{{maskDoc}}" placeholder=""></p-inputMask>
            <!-- <input formControlName="doc" class="input" type="text" [textMask]="{mask: maskDoc}" placeholder="" /> -->
          </div>
        </div>

        <div class="fields">
          <div class="field" [ngClass]="{'is-invalid': !form.controls.mes.valid}">
            <label>Mês *</label>
            <p-dropdown [options]="mesesRef" placeholder="Selecione" formControlName="mes" optionLabel="name"
            [showClear]="false"></p-dropdown>
          </div>
          <div class="field" [ngClass]="{'is-invalid': !form.controls.valorComprometido.valid}">
            <label>Valor comprometido *</label>
            <input formControlName="valorComprometido" class="input" type="text" currencyMask placeholder="R$">
          </div>
         
        </div>
        <div class="fields">
          <div class="field">
            <label>Fornecedor *</label>
            <input formControlName="nomeAgente" class="input" type="text" disabled>
          </div>
          <div class="field">
            <label>Valor Realizado</label>
            <input class="input" type="text" placeholder="" disabled>
          </div>
        </div> 
        <div class="field">
          <label>Observação ({{200 - form.value.observacao?.length}})</label>
          <textarea pInputTextarea maxlength="200" formControlName="observacao"></textarea>
        </div>
      </form>
    </div>
    <div class="buttons">
      <button class="btn" (click)="closeModal()">Cancelar</button>
      <button class="btn blue" (click)="submit()">Salvar</button>
    </div>
  </div>
</section>