.container{
  margin-top: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-bottom: 5px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around;
  padding: 10px;  
}

.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}

.btn{
  align-items: center;
  padding: 5px 15px;
  border: none;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
  text-align: left;
}

.btn .icon{
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/btn-general.svg);
  
}

.btn.general .icon{
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-top: 3px;
  background-image: url(/assets/images/btn-general.svg);
}

.btn.excel .icon{
  height: 25px;
  background-image: url(/assets/images/btn-excel.svg);
  width: 46px;
}

.btn .text{
  font-size: 12px;
  font-weight: 600;
}