<div class="container">
  <header class="header">Resumo</header>
  <div class="single-chart">
    <app-resume-graph></app-resume-graph>
    <div class="buttons">
      <button class="btn general" (click)="openGraphs()">
        <i class="icon"></i>
        <span class="text">Visão Geral</span>
      </button>
      <button class="btn excel" (click)="downloadExcel()">
        <i class="icon"></i>
      </button>
    </div>
  </div>
  
</div>