.container {
  position: relative;
  padding-bottom: 20px;
  overflow: auto;
  min-height: 500px;
  // max-height: 500px; 
}

.result-not-found{
  display: flex;
  // align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  padding: 30px 0px;
  // background-color: #f9f9f9;
  height: 100%;
  // min-height: 420px;
  margin-top: 36px;
  padding: 30px;
  border-radius: 3px;
}

table {
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  margin-top: 20px;
  min-width: 100%;
}

thead {
  border-bottom: 1px solid #eee;
}

tr {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.column-star{
  padding: 0;
  margin: 0;
  max-width: 10px;
  min-width: 10px;
  width: 10px;
}

table td,
table th {
  padding: 0 20px;
  // max-width: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

th:not(.no-arrows)::after{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-top: -1px;
  background-image: url(/assets/images/arrows.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.size-1{
  min-width: 30px !important;
  max-width: 60px !important;
}

.size-2{
  min-width: 60px !important;
  max-width: 120px !important;
}

.size-3{
  min-width: 120px !important;
  max-width: 240px !important;
}

.size-4{
  min-width: 140px !important;
  // max-width: 120px !important;
}

.comprometido{
  min-width: 150px !important;
  max-width: 320px !important;
}

.detalhes{
  min-width: 180px !important;
  max-width: 320px !important;
}

table th {
  position: relative;
  cursor: pointer;
}


th.center{
  text-align: center;
}

tbody tr{
  transition: ease-in-out all 0.1s;
}

tbody tr:hover{
  background-color: #f1f7fb;
}

.status i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  margin: auto;
}

.status i.comp{
  background-color: #f00;
  color: #fff;
}

.status i.parc{
  background-color: #ffcb46;
  color: #222;
}

.status i.real{
  background-color: #4dae00;
  color: #222;
}

td.custo{
  position: relative;
  font-weight: 700;
}

.data,
.ata{
  font-weight: 500;
}

.star{
  float: left;
  height: 16px;
  width: 20px;
  margin-right: 8px;
  background-image: url(/assets/images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.star.active{
  background-image: url(/assets/images/star-yellow.svg);
}

.actions .btn,
.locked{
  float: right;
  border: none;
  background: none;
  margin-left: 8px;
  cursor: pointer;
}

.actions .btn .icon,
.locked .icon{
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.actions .btn.edit .icon{
  background-image: url("/assets/images/edit.svg");
}

.actions .btn.remove .icon{
  background-image: url("/assets/images/remove.svg");
}

.locked .icon{
  background-image: url("/assets/images/locked.svg");
}

.icon.syncronized{
  float: right;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/images/syncronized.svg");
}

tr.total{
  padding: 0 30px;
  height: 40px;
  background-color: #eee;
  font-weight: 700;
}

tr.total td:first-child{
  text-transform: uppercase;
  padding-left: 20px !important;
}

tr.total:hover{
  background-color: #eee !important;
}

.locked:hover .tooltip{
  visibility: visible;
}

.tooltip{
  position: absolute;
  width: auto;
  display: block;
  background: #2F69F8;
  box-shadow: 0px 9px 21px rgba(128, 152, 213, 0.275);
  border-radius: 4px;
  margin-left: -180px;
  margin-top: -34px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px;
  visibility: hidden;  
  font-weight: 400;
}

.tooltip::after{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #2F69F8;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
  right: -3px;
}

.btn.tour{
  margin-left: 0px;
  margin-top: 40px;
}

.tour-content{
  left: 50px;
  top: -50px;
}