<!-- <p-paginator class="top" [first]="first" [rows]="10" [totalRecords]="1000" [rowsPerPageOptions]="[10]" (onPageChange)="paginate($event)"></p-paginator> -->
<div class="container">
  <div class="result-not-found" *ngIf="items?.length == 0">
    Nenhum item encontrado
  </div>

  <table *ngIf="items?.length > 0">
    <button class="btn tour" (click)="openItemTour()" *ngIf="!store.value.storage.tour.favorite">
      <div class="tour-content" *ngIf="tourVisible">
        <p>
          Agora você pode favoritar o seu Centro de Custo direto na tela inicial, clicando na estrelinha, sendo possivel filtrar no menu acima.
        </p>
        <button (click)="closeTour()">Ok, entendi</button>
      </div>
    </button>
    <thead>
      <tr>
        <th class="size-1" class="no-arrows"></th>
        <th class="size-3" *ngIf="columns.centroCusto" (click)="toggleOrderBy('centroCusto.centroCusto')">C. Custos</th>
        <th class="size-1" *ngIf="columns.data" (click)="toggleOrderByMes('mesRef')">Mês</th>
        <th class="size-3" *ngIf="columns.fornecedor" (click)="toggleOrderBy('nomeAgente')">Fornecedor</th>
        <th class="size-3 comprometido" *ngIf="columns.comprometido" (click)="toggleOrderBy('valorComprometido')">Comprometido</th>
        <th class="size-3" *ngIf="columns.realizado" (click)="toggleOrderBy('valorRealizado')">Realizado</th>
        <th class="size-3" *ngIf="columns.saldo" (click)="toggleOrderBy('valorSaldo')">Saldo</th>
        <th class="size-3" *ngIf="columns.tipoDespesa" (click)="toggleOrderBy('tipoSistema.dscTipo')">Tip. Despesa</th>
        <th class="size-3 detalhes" *ngIf="columns.detalhes" (click)="toggleOrderBy('detalhes')">Tip. Contratação</th>
        <th class="size-3" *ngIf="columns.solicitante" (click)="toggleOrderBy('solicitante')">Solicitante</th>
        <th class="size-3" *ngIf="columns.responsavel" (click)="toggleOrderBy('nmresponsavel')">Responsável</th>
        <th class="size-3" *ngIf="columns.ata" (click)="toggleOrderBy('doc')">CNPJ/CPF</th>
        <th class="size-3 center" *ngIf="columns.status" (click)="toggleOrderBy('status')">Status</th>
        <th class="size-4" *ngIf="columns.observacao" (click)="toggleOrderBy('observacao')">Observação</th>
        <th class="size-3 actions no-arrows"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="size-1">
          <i class="star" [ngClass]="{'active': item.isFav}" (click)="toggleFavorite(item)"></i>
        </td>
        <td class="size-3 custo" *ngIf="columns.centroCusto">
          {{ item.centroCusto.centroCusto }}
        </td>
        <td class="size-1 data" *ngIf="columns.data" title="{{meses[item.mesRef] || item.mesRef}}">{{ meses[item.mesRef] || item.mesRef }}</td>
        <td class="size-3" *ngIf="columns.fornecedor" title="{{ item.nomeAgente }}">{{ item.nomeAgente }}</td>
        <td class="size-3 comprometido" *ngIf="columns.comprometido" title="{{ item.valorComprometido | currency:'BRL' }}">{{ item.valorComprometido | currency:"BRL" }}</td>
        <td class="size-3" *ngIf="columns.realizado" title="{{ item.valorRealizado | currency:'BRL' }}">{{ item.valorRealizado | currency:"BRL" }}</td>
        <td class="size-3" *ngIf="columns.saldo" title="{{ item.valorSaldo | currency:'BRL' }}">{{ item.valorSaldo | currency:"BRL" }}</td>
        <td class="size-3" *ngIf="columns.tipoDespesa" title="{{ item.tipoSistema.dscTipo }}">{{ item.tipoSistema.dscTipo }}</td>
        <td class="size-3 detalhes" *ngIf="columns.detalhes" title="{{ item.detalhes }}">{{ item.detalhes }}</td>
        <td class="size-3" *ngIf="columns.solicitante" title="{{ item.solicitante }}">{{ item.solicitante }}</td>
        <td class="size-3" *ngIf="columns.responsavel" title="{{ item.nmresponsavel }}">{{ item.nmresponsavel }}</td>
        <td class="size-3" *ngIf="columns.ata" title="{{ item.doc }}">{{ item.doc }}</td>
        <td class="size-3" class="status" *ngIf="columns.status" title="{{ item.status }}">
          <i class="{{item.status}}">{{ item.status }}</i>
        </td>
        <td class="size-4" *ngIf="columns.observacao" title="{{ item.observacao }}">{{ item.observacao }}</td>
        <td class="size-3" class="actions">
          <button class="btn remove" *ngIf="item.status != 'real'" (click)="openModalRemove(item)">
            <i class="icon"></i>
          </button>
          <button class="btn edit" *ngIf="item.status != 'real'" (click)="openModalEdit(item)">
            <i class="icon"></i>
          </button>

          <span class="locked" *ngIf="item.status == 'real'">
            <i class="icon"></i>
            <div class="tooltip">
              Lançamento integrado
            </div>
          </span>
        </td>
      </tr>
      <tr class="total" *ngIf="items.length > 0">
        <td class="size-1"></td>
        <td class="size-1" *ngIf="columns.data"></td>
        <td class="size-3 custo" *ngIf="columns.centroCusto">Total</td>
        <td class="size-3" *ngIf="columns.fornecedor"></td>
        <td class="size-3 comprometido" *ngIf="columns.comprometido">{{ totalComprometido | currency:"BRL" }}</td>
        <td class="size-3" *ngIf="columns.realizado">{{ totalRealizado | currency:"BRL" }}</td>
        <td class="size-3" *ngIf="columns.saldo">{{ totalSaldo | currency:"BRL" }}</td>
        <td class="size-3" *ngIf="columns.tipoDespesa"></td>
        <td class="size-3 detalhes" *ngIf="columns.detalhes"></td>
        <td class="size-3" *ngIf="columns.solicitante"></td>
        <td class="size-3" *ngIf="columns.responsavel"></td>
        <td class="size-3" *ngIf="columns.ata"></td>
        <td class="status size-3" *ngIf="columns.status"></td>
        <td class="size-4" *ngIf="columns.observacao"></td>
        <td class="actions size-3"></td>
      </tr>
    </tbody>
  </table>
</div>

<p-paginator [first]="first" [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20, 40, 50, 100]"
  (onPageChange)="paginate($event)"></p-paginator>